
<div class="row-fluid">

	<div class="span12">
		<h1> Projects </h1>
		<hr />
	</div>

</div>

<% if !notice.nil? %>
	<div class="alert alert-success">
		<span style="font-weight:bold"> <%= notice %> </span>
	</div>
<% end %>

<% if !alert.nil? %>
	<div class="alert alert-error">
		<span style="font-weight:bold"> <%= alert %> </span>
	</div>
<% end %>

<div class="row-fluid">

	<div class="span12">
		
		<% if !@projects.empty? %>
			<table class="table table-bordered">
				<thead>
					<tr>
						<th> Name </th>
						<th> Description </th>
						<th>Status</th>
						<th>Team Lead</th>
						<th>Action/s</th>
					</tr>
				</thead>
				<tbody>
					<% @projects.each do |project| %>
					<%
						if project.done?
							classn = "success"
						else
							classn = "warning"
						end
					%>
					<tr class="<%= classn %>">
						<td> <%= link_to project.name, project_path(project) %> </td>
						<td> <%= project.description %> </td>
						<td> 
							<% if project.done? %> <%= "Done" %> <% else %> <%= "On-going Development" %> <% end %>
						</td>
						<td>
							<%= project.user.email %>
						</td>
						<td>
							<% if can? :update, project %>
								<%= link_to raw("<i class='icon icon-pencil icon-white'></i> Edit this project"), edit_project_path(project), class:"btn btn-inverse" %> 
							<% end %>

							<% if can? :delete, project %>
								<%= link_to raw("<i class='icon icon-remove icon-white'></i> Delete this project"), project_path(project), method: :delete, class:"btn btn-danger", confirm: "Deleting this project will also remove associated members. Are you sure you want to continue?" %>
							<% end %>
						</td>
					</tr>
					<% end %>
				</tbody>
			</table>
		<% else %>
			No projects yet.
		<% end %>

	</div>

</div>

<div class="row-fluid">
	<div class="span12">
		<%= link_to raw("<i class='icon icon-ok'></i> Create a New Project"), new_project_path, class:"btn" %>
	</div>
</div>